
  .bracket-game {
    max-width: 125px;
    margin: 10px 0;
  }
  .player {
    min-width: 100px;
    border: 1px solid #AAA;
    margin-right: 10px;
  }
  .player.top {
    border-radius: 3px 3px 0 0;
  }
  .player.bot {
    border-radius: 0 0 3px 3px;
  }
  .player .score {
    display: inline;
    float: left;
    border-left: 1px solid #AAA;
    padding-left: 10px;
    padding-right: 10px;
    background: #EEE;
  }
  .player.win {
    background-color: #B8F2B8;
  }
  .player.loss {
    background-color: #F2B8B8;
  }
  input{
      font: inherit;
      color: currentColor;
      width: 100%;
      border: 0;
      height: 1.1876em;
      margin: 0;
      display: block;
      padding: 6px 0 7px;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      animation-name: mui-auto-fill-cancel;
      letter-spacing: inherit;
      animation-duration: 10ms;
      -webkit-tap-highlight-color: transparent;
    }
  
