

.container {
    background-image: url("../images/backgroundTennis.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-image: url('https://media.architecturaldigest.com/photos/60d5e6657d0bcd2fb0bfe9cc/master/w_1920%2Cc_limit/Tennis%2520III%2520.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: center center;
        margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    background-color: white;
    opacity: 0.9;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    width: 50%;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.form-element label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-element input,
.form-element select,
.form-element textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.form-element select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 12px center;
    background-size: 18px 18px;
}

.form-element input:focus,
.form-element select:focus,
.form-element textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.form-element .MuiFormControlLabel-root {
    margin-right: 0;
    margin-left: auto;
}

.form-element .MuiCheckbox-root {
    color: #333;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

button[type='submit'] {
    margin-top: 20px;
    background-color: #3f51b5;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type='submit']:hover {
    background-color: #303f9f;
}